servers/servers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) by Mariano Dorneles (Universidade Federal de Santa Maria) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="server">
		<xs:annotation>
			<xs:documentation>Server informations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lang" type="xs:string" default="english"/>
				<xs:element name="timezone" type="xs:int" default="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
